* {
    margin: 0;
    padding: 0
}

#wrap {
    background: url("../img/banner.jpg") no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Tahoma, Arial, Roboto, "”Droid Sans”", "”Helvetica Neue”", "”Droid Sans Fallback”", "”Heiti SC”", sans-self;}

em,i {
    font-style: normal
}
li {
    list-style: none
}
img {
    border: 0;
    vertical-align: middle
}
button {
    cursor: pointer
}
a {
    color: #666;
    text-decoration: none
}
a:hover {
    color: #c81623
}

.header{
    background: rgba(0,0,0,0.4);
}

.header nav{
    height: 50px;
    background: #ccc;
    line-height: 50px;
}

nav ul li{
    float: right;
    margin-right: 13%;
}

.logo{
    float: left;
    margin-left: 40px;
}

.home a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    /*letter-spacing: 2px;*/
}
.content{
    opacity: 0.9;
}
.banner{
    height: 600px;
}

.banner .inner{
    color: #fff;
    /*background: lightblue;*/
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    top: 160px;
    text-align: center;

}

.line{
    width: 65%;
    height: 2px;
    background: #FFF;
    margin: 0 auto;
    margin-bottom: 10px;
}

.inner h1{
    margin-bottom: 10px;
}

.banner .inner p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}
.banner .inner button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #e85e17;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.banner .inner button:hover{
    transform: rotate(360deg) scale(2);
    transition: 2s;
}

.banner .inner .more{
    margin-top: 140px;
}

.part_1{
    text-align: center;
    color: #fff;
    background: rgba(67,178,165,1);
    padding: 65px;
    opacity: 0.95;
}

.wraper{
    margin: 0 auto;
    max-width: 1080px;
}

.wraper h1{
    font-size: 27px;
    padding: 15px 0;
}

.wraper .line{
    margin: 15px auto;
    width: 40%;
    background: darkgray;
}

.wraper p{

    font-size: 18px;
    letter-spacing: 1px;
    padding: 15px 0;

    /*display: block;*/
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
}

.icon{
    margin: 30px auto;
    padding-bottom: 30px;
}

.icon .item{
    border: 2px solid green;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-right: 50px;
    transform: rotate(45deg);
}

.icon .item img{
    width: 80px;
    hight:80px;
    transform: rotate(-45deg);
}

.part_2{
    background: rgb(33,41,50);
    opacity: 0.95;
}


.first .first_right{
    float: right;
}

.first_left {
    width: 41%;
}

.first_left img{
    width: 100%;
}

.first>div{
    float: left;
}

.clear_fix:after{
    content: '';
    display: block;
    clear: both;
}

.first_text {
    width: 55%;
    position: relative;
    top: 68px;
    left: 50px;
    color: #fff;
}
.first_text h2{
    margin-bottom: 10px;
    font-size: 24px;
}

.first_text .first_vicetitle{
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 20px;
}

.first_text p{
    width: 90%;
    font-size: 18px;
    letter-spacing: 2px;
}

.first:nth-child(odd){
    background: rgba(255,255,255,.1);
}

.part_3{
    background: #3f3965;
    opacity: 0.9;
    color: #fff;
}

.third_wrap{
    margin: 0 auto;
    width: 60%;
}

.third_wrap .third_text{

    padding-top: 65px;
}



.third_text .line{
    background: #1a0973;
    width: 55%;
    margin-bottom: 20px;
    height: 2px;
}

.third_text h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 27px;
}

.card{
    min-height: 300px;
    width: 50%;
    padding: 50px;
    float: left;
    max-width:461px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*margin-top: 20px;*/
}

.card h2 {
    text-align: center;
}

.card:nth-child(1){
    background: rgba(0,0,0,0.05);
}

.card:nth-child(2){
    background: rgba(0,0,0,0.1);
}

.card:nth-child(3){
    background: rgba(0,0,0,0.15);
}

.card:nth-child(4){
    background: rgba(0,0,0,0.2);
}

.card:nth-child(5){
    background: rgba(0,0,0,0.25);
}

.card:nth-child(6){
    background: rgba(0,0,0,0.3);
}

.footer{
    background: #333;
    min-height: 200px;
    text-align: center;
    color: #fff;
}

.share_group{
    display: block;
    margin: 0 auto;
    width: 1080px;
    padding: 45px;
}

.share_group li{
    display: inline-block;
    padding: 10px;
}

.active{
    position: relative;
}

.active span{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    bottom:5px;
    left: 0;
}

.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}

.slider{
    background: #333;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    transition: 0.3s;

}
.slider ul li{
    margin-top: 30px;
    padding: 15px;
}

.slider ul li a{
    color: #fff;
}

.slider ul li:hover{
    background: gray;
}

.top{
    width: 50px;
    height: 30px;
    position: fixed;
    right: 30px;
    bottom: 60px;
}

.top p,img{
    width: 100%;
    text-align: center;
}